.palom-tree-city-widget .row:nth-of-type(1) {
  padding: 0px 15px 5px 15px;
}

.palom-tree-city-widget .row:nth-of-type(2) {
  padding: 5px 5px 0px 5px;
}

.palom-tree-city-buttons > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;
  min-height: 150px;
}

.palom-tree-city-listbox .form-select {
}

.palom-tree-city-tree {
  height: 380px;
  max-height: 400px !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

ul.fancytree-container {
  height: 100%;
  background-color: inherit !important;
  border: 0px hidden !important;
}

.fancytree-folder {
  user-select: none;
}