.double-field-elements{
  .form-item {
    display: inline-block;
    margin-right: 20px;
  }
}

.autocomplete-deluxe-container {
  display: block;
  .autocomplete-deluxe-throbber {
    visibility: hidden;
  }
}

select[name=sel_tour_dates] {
  padding-left: 3px;
  padding-right: 3px;
}

.palom-tree-city-tree {
  max-height: 380px;
  overflow-y: visible;
  border-width: 1px;
}
