@import "_vars";
@import "_mixins";
@import "_components";
@import "_panels";

.field-name-field-gallery .field-item {
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 10px;

  .img-responsive {
    display: inline-block;
  }
}

.page-node {
  .ui-dialog {
    padding: 1px;
    .ui-dialog-titlebar {
      display: none;
    }
    .ui-dialog-content {
      padding: 0px;
    }
  }
}

.view-photogallery-modal {
  ul {
    padding: 0px;
    margin: 0px;
    li {
      display: inline;
      .img-responsive {
        display: inline;
        padding: 2px;
        margin-right: -4px;
      }
    }
  }
}




