@import "_vars";
@import "_mixins";
@import "_components";
@import "_images";
@import "_infoblocks";

.page-node {
  .ui-dialog {
    padding: 1px;
    .ui-dialog-titlebar {
      display: none;
    }
    .ui-dialog-content {
      padding: 0px;
    }
  }
}



